<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hypercars - koenigsegg</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-slate-900 text-white p-6">

<nav class="flex items-left justify-start gap-6">
  
  <!-- Lista de Links -->
  <ul class="flex flex-row gap-16 list-none p-0 m-0">
    <li><a href="#" class="text-white hover:text-gray-500 font-semibold transition-colors">Agera rs</a></li>
    <li><a href="#" class="text-white hover:text-gray-500 font-semibold transition-colors">Jesko absolute</a></li>
    <li><a href="#" class="text-white hover:text-gray-500 font-semibold transition-colors">One:1</a></li>
    <li><a href="#" class="text-white hover:text-gray-500 font-semibold transition-colors">Regera</a></li>
    <li><a href="#" class="text-white hover:text-gray-500 font-semibold transition-colors">CC850</a></li>
  </ul>
  
  <!-- Ícone de Menu com 2 Barras -->
    <button class="ml-auto text-white hover:text-gray-400 focus:outline-none cursor-pointer p-1 rounded transition-colors" aria-label="Menu">
    <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <!-- M4 8h16 (Barra superior) e M4 16h16 (Barra inferior) -->
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16"></path>
    </svg>
  </button>  

</nav>

  <h1 class="text-2xl text-gray-400 mt-6">Koenigsegg it's an hypercar brand which makes the fastest's hypercars in the world</h1>

</body>
</html>